@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --primary:#181818;
    --black:#373737;
    --white:#FFFFFF;
    --grey:#6F6F6F;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--primary);
    padding:0 40px;
}
.header{
    display:flex;
    padding:16px 0;
    align-items: center;
    justify-content: center;
}

.header .logo-title{
    display:flex;
    gap:8px;
    align-items: center;
    margin-right:40px;
}
.header .logo-title h1{
    font-size:32px;
    line-height:39px;
    color:var(--white);
    font-weight:900;
}
header .logo-title h1 a{
    text-decoration: none;
    color:var(--white);
}

.header .logo-title img{
    width:48px;
}

main h2{
    
    color:var(--white);
    text-align:center;
}

main{
    padding:1rem;
}
.form{
    width:80%;
    margin:0 auto;
    
}
.form section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

.div1,.div2{
    width:50%;
}
label, input, select,button{
    text-align: center;
    display:block;
    margin:0 auto;
}

.form label{
    font-size: 1.2rem;
    color:var(--white);
    margin:1rem 0 0.5rem;
}

.form input, .form select, .form button{
    width:50%;
    border-radius: 8px;
    font-size:0.8rem;
    font-family: 'Poppins', sans-serif;
    padding:4px;
    background-color:var(--primary);
    border: 1px solid var(--white);
    color:white;
}

.form input:focus, .form button,.form select{
    background-color:var(--black);
    color:white;
    
}

.form button{
    margin-top:2rem;
    height:2rem;
    font-weight: 600;
    font-size:1rem;
    padding:0.2rem;
    max-width:150px;
}
.form button:hover{
    cursor:pointer;
    background-color:var(--grey)
}

.form select option{
    background-color:var(--black);
}

@media (max-width:680px){
    .div1,.div2{
        width:100%;
    }
    .form input, .form select, .form button{
        width:80%;
    }
}